.content {
    /* background-color: azure; */
    padding: .5rem;
    align-items: flex-start;
    justify-content: space-between;
    gap: .5rem;
}

/* Responsive */

@media screen and (max-width: 800px){
    .content {
        flex-direction: column;
        gap: 2rem;
    }
}