.switch {
    height: 20px;
    width: 40px;
    display: inline-block;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}

.switch input {
    opacity: 0;
    height: 0;
    width: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: all .3s ease;
}

.slider::before {
    position: absolute;
    content: "";
    left: 1.5px;
    bottom: 1.5px;
    height: 17px;
    width: 18px;
    border-radius: 12px;
    background-color: white;
    transition: all .3s ease;
}

.switch input:checked + .slider {
    background-color: #25A55B;
}

.switch input:checked + .slider::before {
    transform: translateX(18px);
}